.t_align{
    font-size: 80px;
    color: red;
    text-align: center;
    text-shadow: 6px 6px 5px grey;
    font-family: cursive;
}
.t_textsize{
    font-size: 40px;
    color: red;
}
.t_decor{
    font-size: 70px;
    color: red;
    text-align: center;
    text-shadow: 5px 5px 5px grey;
    font-family: cursive;
}
.insta_img{
    width: 100px;
    height: 100px;
}
.fb_img{
    width: 100px;
    height: 100px;
}
.t_marg{
    font-size: 50px;
    color: red;
    text-align: end;
}
.img_mar{
    position: relative;
    left: 670px;
    border: 3px red;
    margin: 10px;
    padding: 20px;
    width: 600px;
    box-shadow: 6px 6px 5px red;
    }
.m_trans:hover{
    transform: scale(1.3);
}
.v_trans:hover{
    transform: scale(1.3);
}
.c_trans:hover{
    transform: scale(1.3);
}
.p_trans:hover{
    transform: scale(1.3);
}
.pt_trans:hover{
    transform: scale(1.3);
}
.s_trans:hover{
    transform: scale(1.3);
}
.img_veg{
    position: relative;
    border: 3px red;
    margin: 10px;
    padding: 20px;
    width: 600px;
    box-shadow: 6px 6px 5px red;
}
.t_veg{
    font-size: 50px;
    color: red;
}
.img_ch{
    position: relative;
    left: 670px;
    border: 3px red;
    margin: 10px;
    padding: 20px;
    width: 600px;
    box-shadow: 6px 6px 5px red;
}
.t_chi{
    font-size: 50px;
    color: red;
    text-align: end;
}
.t_spicy{
    font-size: 50px;
    color: red;
}
.img_spicy{
    position: relative;
    border: 3px red;
    margin: 10px;
    padding: 20px;
    width: 600px;
    height: 400px;
    box-shadow: 6px 6px 5px red;
}
.t_pan{
    font-size: 50px;
    color: red;
}
.img_pan{
    position: relative;
    border: 3px red;
    margin: 10px;
    padding: 20px;
    width: 600px;
    box-shadow: 6px 6px 5px red;
}
.t_tik{
    text-align: end;
    font-size: 50px;
    color: red;
}
.img_tik{
    position: relative;
    left: 670px;
    border: 3px red;
    margin: 10px;
    padding: 20px;
    width: 600px;
    box-shadow: 6px 6px 5px red;
}
.t_home{
    text-align: center;
    font-size: 40px;
    color: red;
}
.phone{
    font-size: 30px;
    color: red;
}
.mail{
    font-size: 30px;
    color: red;
}
.add{
    font-size: 30px;
    color: red;
}
.piz{
    border: 5px red;
    padding: 30px;
    margin: 30px;
    width: 1200px;
    height: 500px;
}
.tag{
    color: yellow;
}
.offer{
    text-align: center;
    font-size: 70px;
    color: red;
    text-shadow: 6px 6px 5px grey;
    font-family: cursive;
    text-decoration: underline;
}
.free{
    font-size: 35px;
    color: red;
    text-align: center;
    text-decoration: underline;
    font-family: cursive;
}
.wel{
    text-align: center;
    color: red;
    font-size: 60px;
    font-family: cursive;
    text-shadow: 6px 6px 5px gray;
}
.media{
    font-size: 60px;
    text-align: center;
    color: red;
    font-family: cursive;
}
.cont{
    font-size: 60px;
    text-align: center;
    color: red;
    text-shadow: 6px 6px 5px gray;
    font-family: cursive;
}
.about{
    font-size: 60px;
    text-align: center;
    color: red;
    text-shadow: 6px 6px 5px grey;
    font-family: cursive;
}
.found{
    font-size:35px ;
    color: red;
}
.f_align{
    text-align: center;
}
.s_decor{
    font-size: 30px;
}
.i_margin{
    border: 5px red;
    padding: 30px;
    margin: 30px;
}
.shop{
    
    width: 800px;
    height: 600px;
}
.linear{
    height: 100px;
    background:  linear-gradient(red, orange);
    font-size: 40px;
    
}
.nav_items{
    display: inline-block;
    transform: translateY(25px);
    animation: slideUp 0.9s ease forwards;
    font-size: 30px;
    color: red;
    
}
.nav_items:nth-child(1) { animation-delay: 0.1s; }
.nav_items:nth-child(2) { animation-delay: 0.2s; }
.nav_items:nth-child(3) { animation-delay: 0.3s; }
.nav_items:nth-child(4) { animation-delay: 0.4s; }
@keyframes slideUp {
    from{transform: translateY(25px);}
    to{transform: translateY(0);}
}
.nav_items:hover {
    transform: translateY(-3px);
    transition: 0.3s;
}


